<div class="container">
    <div class="text-center">
        <h2 style="margin-top: 20%;font-family: Georgia, 'Times New Roman', Times, serif;">Theme Changer</h2>
    </div>
    <div class="row text-center pt-5 mt-5">
        <div class="col">
            <button mat-fab color="accent" id="day" class="shadow-lg  mb-4 bg-white">
                <mat-icon>wb_sunny</mat-icon>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Day</p>
        </div>
        <div class="col">
            <button mat-fab id="night" class="shadow-lg  mb-4 bg-white">
                <mat-icon>brightness_4</mat-icon>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Night</p>
        </div>
        <div class="col">
            <button mat-fab id="deep-blue" class="shadow-lg  mb-4 bg-white">
                 <mat-icon>verified</mat-icon>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Deep Blue</p>
        </div>
        <div class="col">
            <button mat-fab id="mint" class="shadow-lg  mb-4 bg-white">
                <mat-icon>filter_vintage</mat-icon>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Mint</p>
        </div>
        <div class="col">
            <button mat-fab id="sensation" class="shadow-lg  mb-4 bg-white">
                <mat-icon>favorite</mat-icon>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Sensation</p>
        </div>
    </div>
</div>