<div class="container">
    <div class="text-center">
        <h2 style="margin-top: 20%;font-family: Georgia, 'Times New Roman', Times, serif;">Theme Changer</h2>
    </div>
    <div class="row text-center pt-5 mt-5">
        <div class="col">
            <button class="btn btn-light shadow-lg p-3 mb-3 bg-white rounded-circle">
                <i class="fa fa-home"></i>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Day</p>
        </div>
        <div class="col">
            <button class="btn btn-light shadow-lg p-3 mb-3 bg-white rounded-circle">
                <i class="fa fa-home"></i>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Night</p>
        </div>
        <div class="col">
            <button class="btn btn-light shadow-lg p-3 mb-3 bg-white rounded-circle">
                <i class="fa fa-home"></i>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Deep Blue</p>
        </div>
        <div class="col">
            <button class="btn btn-light shadow-lg p-3 mb-3 bg-white rounded-circle">
                <i class="fa fa-home"></i>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Mint</p>
        </div>
        <div class="col">
            <button class="btn btn-light shadow-lg p-3 mb-3 bg-white rounded-circle">
                <i class="fa fa-home"></i>
            </button>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Sensation</p>
        </div>
    </div>
</div>