<div class="container pt-5 mt-5">
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="text-center pt-5 mt-5">
        Theme Changer</h1>
    <div class="row text-center pt-5 mt-5">
        <div class="col">
            <button mat-fab color="" class="day">
                <mat-icon  color="accent">brightness_7</mat-icon>
            </button>
            <h3 class="text-center pt-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Day</h3>
        </div>

        <div class="col">
            <button mat-fab color="" class="night">
                <mat-icon >brightness_4</mat-icon>
            </button>
            <h3 class="text-center pt-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Night</h3>
        </div>

        <div class="col">
            <button mat-fab color="" class="mint">
                <mat-icon  color="warn">brightness_5</mat-icon>
            </button>
            <h3 class="text-center pt-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Mint</h3>
        </div>

        <div class="col">
            <button mat-fab color="" class="voilet">
                <mat-icon color="primary">brightness_5</mat-icon>
            </button>
            <h3 class="text-center pt-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Voilet</h3>
        </div>

        <div class="col">
            <button mat-fab color="" class="sensation">
                <mat-icon color="warn">favorite</mat-icon>
            </button>
            <h3 class="text-center pt-4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Sensation</h3>
        </div>
    </div>
</div>